<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Glass morphism</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="container">
            <form method="post" action="/login">
                <h1>Login</h1>
                <form class="input-form" id="registerForm">
                    <input type="email" placeholder="Email id" class="id" id="email" name="email" required>
                    <input type="password" placeholder="password" class="id" id="password" name="password" required>
                    <div class="spa">
                        <div><input type="checkbox" id="emailCheck"><a href="#">&nbsp;Remember me</a></div>
                        <a href="#" class="pas">Forgot Password</a>
                    </div>
                    <button class="submit" type="submit" value="Login" id="submitBtn">Login</button>
                    <footer>Don't have an account?&nbsp;<a href="/"><strong>Register</strong></a></footer>
                </form>
            </form>
        </div>
    </section>
</body>
</html>
